body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
}


h1 {
    font-weight: normal;
    font-size: 50px;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

p {
    color: grey;
    font-size: 21px;
}

.cta {
    color: aquamarine;
    font-size: 16px;
}

.footer {
    text-align: right;
}


